# App configuration
STRIDE_BACKEND_APP__PORT=8080
STRIDE_BACKEND_APP__MODE=debug # debug | test | release

# MySQL configuration
STRIDE_BACKEND_MYSQL__HOST=localhost
STRIDE_BACKEND_MYSQL__PORT=3306
STRIDE_BACKEND_MYSQL__USER=root
STRIDE_BACKEND_MYSQL__PASSWORD=your-password
STRIDE_BACKEND_MYSQL__NAME=stride_db
STRIDE_BACKEND_MYSQL__CHARSET=utf8mb4
STRIDE_BACKEND_MYSQL__MAX_IDLE=10
STRIDE_BACKEND_MYSQL__MAX_OPEN=100
STRIDE_BACKEND_MYSQL__CONN_MAX_LIFETIME=3600