# App
STRIDE_BACKEND_APP_PORT=8080
STRIDE_BACKEND_APP_MODE=debug # debug | test | release

# MySQL
STRIDE_BACKEND_DB_HOST=localhost
STRIDE_BACKEND_DB_PORT=3306
STRIDE_BACKEND_DB_USER=root
STRIDE_BACKEND_DB_PASSWORD=your-password
STRIDE_BACKEND_DB_NAME=stride_db
STRIDE_BACKEND_DB_PARAMS=charset=utf8mb4&parseTime=True&loc=Local
STRIDE_BACKEND_DB_MAX_IDLE=10
STRIDE_BACKEND_DB_MAX_OPEN=100
STRIDE_BACKEND_DB_CONN_MAX_LIFETIME_SECOND=3600